<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content id="account-page">
  <ion-card class="transparent ion-text-center">
      <img class="account-img" src="assets/Pictures/app-slicing/avatar.png"/>
    <ion-card-content>
      <ion-card-title>
        Lucy Ann
        </ion-card-title>
      <p>
        lucy-ann40@gmail.com
      </p>
    </ion-card-content>
  </ion-card>

  <ion-item-group class="account-item">
    <ion-item-divider>
      <ion-label> Profile Setting </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Update Profile</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Default Wallet</ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label> Security </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Password</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Permission Request</ion-label>
    </ion-item>


    <ion-item-divider>
      <ion-label> System </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>About</ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>
